# Controle 09/09/2020

#### 1. KPI

Un KPI (Key Performance Indicator) est un indicateur de performance clé. C'est à dire une métrique permettant de juger de la performance.
Par exemple pour un site d'e-commerce, un KPI peut-être le nombre de pages visitées par un client.

#### 2. Import des librairies numpy et pandas

In [118]:
import numpy as np, pandas as pd

#### 3. Chargement du DataSet

In [119]:
dataset = "eval_data"
df = pd.read_csv("data/" + dataset + ".csv")

#### 4. Les 10 premières lignes

In [120]:
df.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

#### 5. Dimension du DataSet

In [121]:
df.shape

(4622, 6)

#### 6. Colonnes & descriptions (type)

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4622 non-null   int64
 1   order_id            4622 non-null   int64
 2   quantity            4622 non-null   int64
 3   item_name           4622 non-null   object
 4   choice_description  3376 non-null   object
 5   item_price          4522 non-null   object
dtypes: int64(3), object(3)
memory usage: 216.8+ KB

#### 7. Statistiques descriptives

In [123]:
df.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

#### 8. Item le plus commandé

In [124]:
df2 = df
df2.drop(columns=['choice_description', 'item_price'])
#print(df2.groupby(by=['item_name']).sum().sort_values(by=['quantity'], ascending=False))
df2.groupby(by=['item_name']).sum().sort_values(by=['quantity'], ascending=False).head(1).drop(columns=["Unnamed: 0", "order_id"])

              quantity
item_name
Chicken Bowl       761

#### 9. Nombre d'items commandés

In [125]:
total_ordered_items = df["quantity"].sum()
total_ordered_items

4972

#### 10. Chiffre d'affaire

In [126]:
def convert_to_float(s):
    ss = str(s[1:])
    return float(ss)

df3 = df
df3 = df3.dropna()
df3['item_price'] = df3['item_price'].apply(convert_to_float)
CA = df3["item_price"].sum()
CA

/usr/lib/python3/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

30422.22

#### 11. Revenu moyen par commande

In [127]:
nb_commande = df["order_id"].max()

CA/nb_commande

16.587906215921485