# Question 1

In [3]:
# Un KPI est un indice de performance, basé graphiquement sur des tableaux, reportings...
# Un exemple : Un chiffre d’affaire généré par trimestre, ou un chiffre comptabilisé dans une durée de temps

# Question 2

In [5]:
# Importation de numpy et de pandas
import numpy as np
import pandas as pd

# Question 3

In [9]:
# Importation du CSV eval_data.csv
ex3 = pd.read_csv('data/eval_data.csv')
ex3

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...,...
4617,4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# Question 4

In [11]:
# Affichage des 10 premières lignes du dataset
ex4 = pd.read_csv('data/eval_data.csv')

ex4.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

# Question 5

In [13]:
# Affichage de la dimension du dataset
ex5 = pd.read_csv('data/eval_data.csv')

ex5.ndim

# Réponse : 2 dimensions

2

# Question 6

In [14]:
# Affichage et description des colonnes de notre dataset

ex6 = pd.read_csv('data/eval_data.csv')

ex6.dtypes

# Dans notre item, on a 8 colonnes. Les 3 premiers colonnes sont de nature : int (ne prennant que des chiffres).
# Le reste sont de types objet

Unnamed: 0             int64
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

# Question 7

In [23]:
# Affichage des statistiques descriptives du dataset

ex7 = pd.read_csv('data/eval_data.csv')

ex7.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

## Question 8

In [32]:
# Item le plus commandé

ex8 = pd.read_csv('data/eval_data.csv')

ex8['order_id'].value_counts()

# ID 928 est le plus commandé : 23 commandes

926     23
1483    14
205     12
691     11
1786    11
        ..
105      1
702      1
718      1
568      1
800      1
Name: order_id, Length: 1834, dtype: int64

## Question 9

In [34]:
# Item commandé au total

ex9 = pd.read_csv('data/eval_data.csv')

ex9["order_id"].max()

# Le nombre d'items commandés au total est de 1834

1834

## Question 10

In [36]:
# Chiffre d'affaire réalisé par la société

ex10 = pd.read_csv('data/eval_data.csv')