In [74]:
# Importation des différents bibliothèques
import seaborn as sns;
import pandas as pd;
from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.neighbors import KNeighborsClassifier as KNN
sns.set

# Chargement du dataset Penguins
penguins = sns.load_dataset('penguins')
penguins_df = penguins
penguins.head()

  species     island  bill_length_mm  ...  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen            39.1  ...              181.0       3750.0    Male
1  Adelie  Torgersen            39.5  ...              186.0       3800.0  Female
2  Adelie  Torgersen            40.3  ...              195.0       3250.0  Female
3  Adelie  Torgersen             NaN  ...                NaN          NaN     NaN
4  Adelie  Torgersen            36.7  ...              193.0       3450.0  Female

[5 rows x 7 columns]

In [75]:
# On élimine les NaN de la source
penguins_df = penguins_df.dropna()

In [76]:
penguins_df

    species     island  bill_length_mm  ...  flipper_length_mm  body_mass_g     sex
0    Adelie  Torgersen            39.1  ...              181.0       3750.0    Male
1    Adelie  Torgersen            39.5  ...              186.0       3800.0  Female
2    Adelie  Torgersen            40.3  ...              195.0       3250.0  Female
4    Adelie  Torgersen            36.7  ...              193.0       3450.0  Female
5    Adelie  Torgersen            39.3  ...              190.0       3650.0    Male
..      ...        ...             ...  ...                ...          ...     ...
338  Gentoo     Biscoe            47.2  ...              214.0       4925.0  Female
340  Gentoo     Biscoe            46.8  ...              215.0       4850.0  Female
341  Gentoo     Biscoe            50.4  ...              222.0       5750.0    Male
342  Gentoo     Biscoe            45.2  ...              212.0       5200.0  Female
343  Gentoo     Biscoe            49.9  ...              213.0       5400.0    Male

[333 rows x 7 columns]

In [77]:
Y = penguins_df['species'].astype('category').cat.codes
Y

0      0
1      0
2      0
4      0
5      0
      ..
338    2
340    2
341    2
342    2
343    2
Length: 333, dtype: int8

In [78]:
# On isole species
X = penguins_df.drop(['species'], axis = 1)

# On prend les colonnes
X = X[['bill_length_mm','bill_depth_mm', 'flipper_length_mm','body_mass_g']]
X

# On ne prends pas island, car une espèce de pingouin ne peut pas être lié à une île.
# Et pareil pour sex, le sexe n'a pas d'influence sur l'espèce

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0              39.1           18.7              181.0       3750.0
1              39.5           17.4              186.0       3800.0
2              40.3           18.0              195.0       3250.0
4              36.7           19.3              193.0       3450.0
5              39.3           20.6              190.0       3650.0
..              ...            ...                ...          ...
338            47.2           13.7              214.0       4925.0
340            46.8           14.3              215.0       4850.0
341            50.4           15.7              222.0       5750.0
342            45.2           14.8              212.0       5200.0
343            49.9           16.1              213.0       5400.0

[333 rows x 4 columns]

In [79]:
from sklearn.model_selection import train_test_split

splits = train_test_split(X,Y,
                          train_size = 0.3,
                          stratify = Y,
                          random_state=2)

for each in splits:
  print(each.shape)
X_train, X_test, Y_train, Y_test = splits

(99, 4)
(234, 4)
(99,)
(234,)

In [80]:
# Fonction d'accuracy pour calculer la précision

def accuracy(preds, Y):
  return ((preds == Y).sum() / len(Y)* 100)

In [81]:
# Méthode d'entrainement de prédiction avec KNN et n_neighbors

def trainingKNN (n_neighbors):
  knn = KNN(n_neighbors=n_neighbors)
  knn.fit(X_train,Y_train)
  prediction = knn.predict(X_test)
  print(prediction.shape)
  print(prediction)
  print('L\'algorithme KNeighborsClassifier avec n_neighbors =' , n_neighbors , ', a une précision de : ', accuracy(prediction,Y_test), '%')
  return prediction

In [82]:
prediction = trainingKNN(3)

(234,)
[0 2 0 0 0 2 0 0 2 0 1 1 2 0 2 2 0 0 0 2 0 0 1 0 2 0 2 0 2 0 1 2 0 0 0 0 0
 0 0 0 2 0 1 2 0 2 0 1 2 1 2 2 0 0 2 0 0 0 2 1 0 2 2 0 0 2 0 2 2 2 0 1 2 0
 1 0 0 0 0 2 0 2 2 0 2 0 0 0 0 2 0 0 0 2 2 0 0 0 0 2 0 0 0 0 2 1 0 0 2 0 0
 1 2 0 0 0 2 0 0 2 2 2 1 0 0 0 2 2 0 2 0 2 0 1 2 2 2 0 0 2 0 0 2 2 2 0 2 1
 0 0 0 0 2 0 0 0 0 0 0 2 2 1 0 0 0 2 0 2 0 0 1 0 1 1 1 0 2 0 1 0 0 2 0 0 0
 0 0 0 2 2 0 1 0 2 0 2 0 2 0 2 0 2 2 1 2 0 0 2 0 2 2 1 0 2 0 1 0 0 0 1 2 0
 2 0 0 0 0 1 2 2 2 2 2 2]
L'algorithme KNeighborsClassifier avec n_neighbors = 3 , a une précision de :  67.94871794871796 %

In [83]:
# Importation de l'algo GradientBoostingClassifier:
from sklearn.ensemble import GradientBoostingClassifier

# Création du model :
clf = GradientBoostingClassifier()

# Entrainement du model :
clf.fit(X_train,Y_train)

# Résultat de la prédictabilité :
print('L\'algorithme a une précision de :', accuracy(clf.predict(X_test),Y_test) , '%')

L'algorithme a une précision de : 90.17094017094017 %

In [84]:
# Avec l'algo ExtraTressClassifier
from sklearn.ensemble import ExtraTreesClassifier

# Création du model :
clf = ExtraTreesClassifier()

# Entrainement du model :
clf.fit(X_train,Y_train)

# Résultat :
print('L\'algorithme a une précision de :', accuracy(clf.predict(X_test), Y_test), '%')

L'algorithme a une précision de : 98.29059829059828 %

In [85]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test,prediction)

array([[78, 17,  7],
       [37,  9,  2],
       [11,  1, 72]])